body{
    background-color: #548CA8; 
    }
    hr{
        color: rgba(245, 245, 245, 0.342);
        border-style: none;
        border-top-style: dotted;
        border-width: 10px;               
        width: 15%;
        height: 0px;
    }
    img{
        height: 150px;
    }
    h1{
        color:rgb(3, 83, 151);
    }
    h3{
        color: rgb(3, 83, 151);
    }
    img{
        height: 150px;
    }
    .fblogo{
        height: 50px ;
        border-radius: 50%;
    }
